/* ===== VARIABLES ===== */
:root {
  /* BASE */
  --bg: #050b12;
  --bg-sider: #081520;
  --bg-soft: #0a1622;
  --bg-main: #0b1220;

  /* EFECTOS */
  --right: #00ffff1a; 
  --border-glow: #00ffff33; 

  /* COLORES PRINCIPALES */
  --primary: #00ffff;
  --primary-hover: #00e6e6;

  /* TEXTO */
  --text-prim: #e6f1ff;
  --text-sidebar: #00f7ff;
  --text-white: #ffffff;
  --text-muted: #8aa0b5;

  /* ESTADOS */
 --danger: #ff4d4d;             
--danger-strong: #ff6666; 
--danger-bg: rgba(255, 77, 77, 0.15);
--danger-border: rgba(255, 77, 77, 0.4);
;
  /* UI */
  --radius: 8px;
  /* BOTONES */
  --btn-text-dark: #000000;

  /* BADGES */
  --success: #00ffcc;
  --success-bg: #00ff9633;

   /* TABLAS */
  --table-header-th: #0d4061;
  --table-header-bg: #071a26;
  --table-header-border: #00ffff33;
}

/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* ===== BODY ===== */

body {
  background: var(--bg);
  color: var(--text-prim);
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  max-width: 2000px;
}

/* ===== MAIN ===== */
.main {
  flex: 1;
  padding: 20px;
}

/* ===== NEON EFFECT ===== */
.neon {
  color: #00f7ff;
  text-shadow: 0 0 10px #00f7ff;
}
