.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}

.login-box {
    width: 300px;
}