
/* ===== vARIABLES ===== */
:root {
  --bg: #050b12;
  --bg-sider: #081520;
  --right: #00ffff1a;

  /* TEXTO*/
  --text-prim: #e6f1ff;
  --text-sidebar: #00f7ff;
  --text-white: #ffffff;


/*   
  --primary: #667eea;
  --secondary: #764ba2;
  --success: #28a745;
  --danger: #dc3545;
  --gray: #f5f5f5;

  --radius: 8px; */
}



/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}



/* ===== BODY ===== */

body {
  background: var(--bg);
  color: var(--text-prim);
  display: flex;
}

.container {
  display: flex;
}

/* ===== MAIN ===== */
.main {
    flex: 1;
    padding: 20px;
}


/* ===== NEON EFFECT ===== */
.neon {
    color: #00f7ff;
    text-shadow: 0 0 10px #00f7ff;
}