/* ===== USERS ===== */

.page-title {
  color: var(--text-prim);
  margin-bottom: 20px;
}

.users-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}



/* ===== CREATE ===== */

/* ===== CREATE / FORM USERS PRO ===== */

.form-users {
  max-width: 480px;
  background: var(--bg-soft);
  padding: 25px;
  border-radius: var(--radius);
  border: 1px solid var(--border-glow);
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* GRID LIMPIO */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

/* LABEL */
.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
  color: var(--text-muted);
}

/* INPUTS */
.form-group input,
.form-group select {
  padding: 12px;
  border-radius: var(--radius);
  border: 1px solid var(--border-glow);
  background: var(--bg-main);
  color: var(--text-prim);
  font-size: 14px;
  transition: all 0.25s ease;
}

/* FOCUS EFECTO PRO */
.form-group input:focus,
.form-group select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(0,255,200,0.15);
  transform: scale(1.01);
}

/* PLACEHOLDER */
.form-group input::placeholder {
  color: var(--text-muted);
  opacity: 0.7;
}

/* BOTONES */
.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.input-msg {
  font-size: 12px;
  margin-top: 5px;
}

.loading {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0.3; }
}

@media (max-width: 600px) {
  .form-users {
    padding: 15px;
  }
}

/* MENSAJE CREADO  */

#toast-container {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Toast */
.toast {
  min-width: 280px;
  padding: 14px 18px;
  margin-bottom: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  animation: slideIn 0.4s ease;
}

/* Tipos */
.toast.success {
  background: #00c896;
}

.toast.error {
  background: #ff4d4d;
}