/* ===== SIDEBAR ===== */
.sidebar {
    width: 240px;
    height: 100vh;
    background: var(--bg-sider);
    padding: 20px;
    border-right: 1px solid var(--right);
    transition: 0.3s;
}

/* título */
.sidebar h2 {
    color: var(--text-sidebar);
    margin-bottom: 30px;
}

/* lista */
.sidebar ul {
    list-style: none;
    padding: 0;
}

/* item */
.sidebar li {
    margin: 8px 0;
}


.sidebar a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 12px;
    border-radius: var(--radius);
    color: var(--text-sidebar);
    text-decoration: none;
    transition: all 0.2s ease;
}

/* hover */
.sidebar a:hover {
    background: var(--right);
    color: var(--primary);
    transform: translateX(3px);
}

/* iconos */
.sidebar a i {
    width: 18px;
    height: 18px;
}

/* estado activo  */
.sidebar a.active {
    background: var(--border-glow);
    color: var(--primary);
    font-weight: 600;
}

/* 🔥 COLAPSADO */
.sidebar.collapsed {
    width: 70px;
}

/* ocultar texto */
.sidebar.collapsed a span {
    display: none;
}

/* centrar iconos */
.sidebar.collapsed a {
    justify-content: center;
    padding: 12px 0;
}

/* iconos más grandes */
.sidebar.collapsed i {
    width: 32px;
    height: 32px;
}

.sidebar.collapsed a:hover i {
    transform: scale(1.15);
}



/* TOOLTIP */
.sidebar a::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    
    background: var(--bg-main);
    color: var(--text-white);
    padding: 6px 10px;
    border-radius: var(--radius);
    font-size: 18px;
    
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    
    border: 1px solid var(--border-glow);
    box-shadow: 0 0 10px var(--border-glow);

    transition: 0.2s;
}

/* flechita */
.sidebar a::before {
    content: "";
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    
    border-width: 6px;
    border-style: solid;
    border-color: transparent var(--bg-main) transparent transparent;

    opacity: 0;
    transition: 0.2s;
}

/* 🔥 SOLO CUANDO ESTÁ COLAPSADO */
.sidebar.collapsed a:hover::after,
.sidebar.collapsed a:hover::before {
    opacity: 1;
}