/* ===== HEADER ===== */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search {
    padding: 10px;
    width: 300px;
    background: #0b1f2e;
    border: none;
    border-radius: 8px;
    color: white;
}